<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.rikuyu.contactlensreminder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".ui.ContactLensReminderApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContactLensReminder">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ContactLensReminder"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <receiver
            android:name=".data.local.alarm.notification.NotificationAlarmReceiver"
            android:exported="false" />

        <receiver
            android:name=".data.local.alarm.tickdown.TickDownAlarmReceiver"
            android:exported="false" />

        <!-- Default -->
        <activity-alias
            android:name=".DefaultAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 期限切れ -->
        <activity-alias
            android:name=".ExpiredAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_expired"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_expired"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 1 -->
        <activity-alias
            android:name=".OneAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_1"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_1"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 2 -->
        <activity-alias
            android:name=".TwoAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_2"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_2"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 3 -->
        <activity-alias
            android:name=".ThreeAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_3"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_3"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 4 -->
        <activity-alias
            android:name=".FourAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_4"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_4"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 5 -->
        <activity-alias
            android:name=".FiveAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_5"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_5"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 6 -->
        <activity-alias
            android:name=".SixAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_6"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_6"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 7 -->
        <activity-alias
            android:name=".SevenAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_7"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_7"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 8 -->
        <activity-alias
            android:name=".EightAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_8"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_8"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 9 -->
        <activity-alias
            android:name=".NineAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_9"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_9"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 10 -->
        <activity-alias
            android:name=".TenAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_10"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_10"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 11 -->
        <activity-alias
            android:name=".ElevenAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_11"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_11"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 12 -->
        <activity-alias
            android:name=".TwelveAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_12"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_12"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 13 -->
        <activity-alias
            android:name=".ThirteenAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_13"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_13"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 14 -->
        <activity-alias
            android:name=".FourteenAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_14"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_14"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 15 -->
        <activity-alias
            android:name=".FifteenAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_15"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_15"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 16 -->
        <activity-alias
            android:name=".SixteenAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_16"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_16"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 17 -->
        <activity-alias
            android:name=".SeventeenAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_17"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_17"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 18 -->
        <activity-alias
            android:name=".EighteenAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_18"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_18"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 19 -->
        <activity-alias
            android:name=".NineteenAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_19"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_19"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 20 -->
        <activity-alias
            android:name=".TwentyAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_20"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_20"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 21 -->
        <activity-alias
            android:name=".TwentyOneAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_21"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_21"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 22 -->
        <activity-alias
            android:name=".TwentyTwoAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_22"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_22"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 23 -->
        <activity-alias
            android:name=".TwentyThreeAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_23"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_23"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 24 -->
        <activity-alias
            android:name=".TwentyFourAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_24"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_24"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 25 -->
        <activity-alias
            android:name=".TwentyFiveAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_25"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_25"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 26 -->
        <activity-alias
            android:name=".TwentySixAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_26"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_26"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 27 -->
        <activity-alias
            android:name=".TwentySevenAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_27"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_27"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 28 -->
        <activity-alias
            android:name=".TwentyEightAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_28"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_28"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 29 -->
        <activity-alias
            android:name=".TwentyNineAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_29"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_29"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 30 -->
        <activity-alias
            android:name=".ThirtyAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_30"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_30"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 31 -->
        <activity-alias
            android:name=".ThirtyOneAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/icon_31"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_31"
            android:targetActivity=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>